.masterplan {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.img-container {
    width: 200px;
    height: 200px;
}

.master-planning-overview {
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #3d3338;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0%;
}

.master-planning-overview h2 {
    height: auto;
    display: flex;
    align-items: center;
}

.master-planning-overview h3 {
    font-weight: 300;
    font-size: 1.7rem;
    height: 1rem;
    display: flex;
    align-items: center;
}

.master-planning-overview p {
    text-align: center;
    margin: 0 15% 0 15%;
    font-size: 1.2rem;
}

.LRFMP-process {
    display: flex;
    margin: 5% 15% 0 15%;
}

.shield {
    margin: 2% 5% 5% 5%;
    width: 300px;
    height: 300px;
}

.LRFMP-description {
    display: flex;
    flex-direction: column;
}

.LRFMP-description h4 {
    font-size: 1.5rem;
    color: #3d3338;
}

.LRFMP-list li {
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding-top: 1%;
    color: #3d3338;
}

.LRFMP-plan-process {
    color: #3d3338;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 15% 0 15%;
}

.LRFMP-plan-process h2 {
    font-size: 2.2rem;
}

.LRFMP-plan-process p {
    font-size: 1.2rem;
    text-align: center;
}

.master-plan-building {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.facility-needs-assessment {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #3d3338;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facility-needs-assessment h2 {
    font-size: 2.2rem;
    margin-bottom: 1%;
}

.facility-needs-assessment p {
    font-size: 1.2rem;
    margin: 0 15% 1% 15%;
}

.assessment-container {
    display: flex;
    margin-top: 1%;
    margin-bottom: 2%;
}

.assessments-needs-list-container {
    margin-top: 2%;
    width: 500px;
    height: auto;
    overflow: wrap;
}

.assessments-needs-list-container .number {
    background: #09798d;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 5px;
    color:#fdfdfb;
    margin-top: auto;
    margin-bottom: 1%;
    font-size: 1rem;
    border: 2px solid #3d3338;
}

.number:hover {
    cursor: pointer;
    background: #4EC4D9;
}

.assessments-needs-list-container article {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    font-size: 1rem;
}

.number-list-container article:hover {
    cursor: pointer;
}

.number-list-container {
    display: flex;
    margin-bottom: 1%;
}

.number-list-container:hover {
    font-weight: bolder;
}

.small-pics-container {
    margin-top: 2%;
    display: grid;
    grid-template-areas:
        "pic1 pic2 pic3"
        "pic4 pic5 pic6"
        "pic7 pic8 pic9"
        "pic10 pic11 pic12";
    width: 700px;
    height: 500px;
    
}

.pic-blown-up {
    border-radius: 5px;
    width: 700px;
    height: 450px;
    margin-top: 2%;
}

.pic-blown-up:hover {
    cursor: pointer;
}

.large-pics-container {
    margin-top: 1%;
    width: 700px;
    height: 500px;
}

.large-pics-container h5{
    margin-top: 1.5%;
    font-size: 1.2rem;
}

.assessment-dropdown {
    display: block;
    margin: 0 15% 3% 15%;
}

.dropdown-item {
    display: none;
    position: absolute;
}

.assessment-dropdown:hover .dropdown-item {
    display: flex;
    flex-direction: column;
    background-color: #3d3338;
}

.assessment-dropdown p:hover {
    cursor: pointer;
}

.civil,
.building-envelope,
.architecture,
.mechanical,
.electrical,
.plumbing,
.technology,
.safety {
    border-style: solid; 
    background-color: #d2e9f3;
    margin: 0;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 1% 1% 1% 1%;
    border-color: #3d3338;
    border-radius: 5px;
}

.civil:hover,
.building-envelope:hover,
.architecture:hover,
.mechanical:hover,
.electrical:hover,
.plumbing:hover,
.technology:hover,
.safety:hover {
    background-color: #b2c9d3;
    
}

.assessment-dropdown p {
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    
}

.assessment-dropdown li {
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    margin-left: 2%;
    overflow: inherit;
}

.ReactCollapse--collapse {
    transition: height .75s ease;
}

.assessments-navlink {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.assessments-navlink h4 {
    color: #3d3338;
    border-style: solid;
    border-radius: 2rem;
    padding: .75%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2%;
}

.assessments-navlink h4:hover {
    background-color: rgb(204, 202, 202);
    cursor: pointer;
    border-color: #3d3338;
    color: #7A0230;
}

.navlinkstyle {
    text-decoration: none;
    color: #3d3338;
}

.arrows-container {
    display: flex;
}

.arrow-1-container, 
.arrow-2-container, 
.arrow-3-container, 
.arrow-4-container, 
.arrow-5-container {
    width: 175px;
    height: 175px;
    position: relative;
    margin: 30px;
  }
  
  .arrow-1 h2,
  .arrow-2 h2,
  .arrow-3 h2,
  .arrow-4 h2,
  .arrow-5 h2 {
    margin-top: 0%;
  }

.arrow-1,
.arrow-2,
.arrow-3,
.arrow-4,
.arrow-5   {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px #2b2a2a;
    padding-left: 3%;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    clip-path: polygon(60% 0%, 100% 50%, 60% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.arrow-1-overlay,
.arrow-2-overlay,
.arrow-3-overlay,
.arrow-4-overlay,
.arrow-5-overlay {
    border-radius: 10px;
    z-index: 9;
    margin-left: 65%;
    clip-path: polygon(20% 00%, 60% 50%, 20% 100%, 0% 100%, 40% 50%, 0% 0%);
}

.arrow-1 {
    background:#05a723;
}

.arrow-1-overlay {
    background: #8AEE9C;
}

.arrow-2 {
    background: #F28B02;
}

.arrow-2-overlay {
    background: #F4C689;
}

.arrow-3 {
    background:#DB210E;
}

.arrow-3-overlay {
    background: #E19289;
}

.arrow-4 {
    background:#D002F2;
}

.arrow-4-overlay {
    background: #E689F4;
}

.arrow-5 {
    background: #1317EB;
}

.arrow-5-overlay {
    background: #9697EE;
}

.community-outreach-arrow {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: -2px 2px 4px #3a3838;
    font-size: 1.6rem;
    color: #FFFFFF;
    height: 40px;
    width: 100%;
    background: linear-gradient(to right, #F4C689, #F28B02);
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.community-outreach-arrow article {
    margin: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .master-planning-overview h3 {
        font-size: 1.25rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .master-planning-overview p {
        font-size: 1rem;
    }
    .LRFMP-process {
        flex-direction: column;
        align-items: center;
    }
    .LRFMP-plan-process h2, .facility-needs-assessment h2 {
        font-size: 1.75rem;
        text-align: center;
    }
    .drop-container li {
        font-size: .9rem;
    }
    .drop-container p {
        font-size: .9rem;
    }
    .arrows-container {
        flex-direction: column;
    }
    .community-outreach-arrow article{
        font-size: 1.2rem;
        margin-top: 2%;
    }
    .arrows-container h2 {
        text-align: left;
    }
    .arrows-container article {
        font-size: 1rem;
    }
    .pic-blown-up {
        width: 350px;
        height: 200px;
    }
    .facility-needs-assessment h2 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .large-pics-container {
        margin-top: 1%;
        margin-bottom: 10%;
        width: 350px;
        height: 250px;
    }
    .assessments-needs-list-container {
        width: 300px;
    }
    .assessment-container {
        flex-direction: column-reverse;
    }
    .assessments-needs-list-container article {
        font-size: .85rem;
        text-align: left;
        padding-left: 2%;
    }
    .arrow-1-container, 
    .arrow-2-container, 
    .arrow-3-container, 
    .arrow-4-container, 
    .arrow-5-container {
        width: 150px;
        height: 150px;
        position: relative;
        
  }
   
}

@media only screen and (max-width: 920px) {
    .arrows-container {
        flex-direction: column;
    }
    .assessment-container {
        flex-direction: column-reverse;
    }
}
