@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.school2 {
    font-size: 1.5rem;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #3d3338;
    margin-left: 20%;
    margin-right: 20%;
    animation: fadeIn 2s;
}

.middle-title {
    border-style: none none groove none;
    width: 100%;
    text-align: center;
}

.school-pic {
    padding-top: 3%;
}

.middle-content-title {
    font-size: 1.4rem; 
}

.site-information p {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.pic-content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .pic-content-container {
        flex-direction: column;
        align-items: center;
    }
    .school2 {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .pic-container img {
        width: 275px;
        height: 200px;
    }
    .bingMap {
        display: none;
    }
    .donut-chart {
        width: 350px;
    }
    .middle-title h1 {
        font-size: 1.75rem;
        margin-top: 10%;
    }
    .project-by-priorty, .project-by-discipline {
        text-align: center;
    }
}