.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfdfb;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .logo {
      display: none;
    }
  }


.navlink {
    text-decoration: none;
    color: black;
}

.navlink:hover {
    text-decoration: underline;
}

.active-nav-link {
    text-decoration: underline;
}

.download-button {
    color: #3d3338;
    border-style: solid;
    border-radius: 2rem;
    padding: .75%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.download-button:hover {
    background-color: rgb(204, 202, 202);
    cursor: pointer;
    border-color: #3d3338;
    color: #7A0230;
}

.school-dropdown {
    display: block;
}

.school-dropdown-menu {
    display: none;
    position: absolute;
    min-width: 120px;
    color: #fdfdfb;
    background-color: #7A0230;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 2%;
}

.school-dropdown:hover .school-dropdown-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}

.school-dropdown-menu a:hover {
    text-decoration: underline;
}

.school-link {
    text-decoration: none;
    color: #fdfdfb;
    font-size: 1.2rem;
}

