.App {
    max-width: auto;
    position: relative;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-areas: "header" "main-content" "footer";
    grid-template-columns: auto;
    grid-template-rows: 9rem auto 7rem;
    background-color: #fdfdfb;
}

.header {
    grid-area: header;
    height: 9rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}

main {
    grid-area: main-content;
    
}

.footer {
    text-align: center;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003f5c;
    height: 5rem;
    margin: none;
    color: #fdfdfb;
    height: 100%;
}

.footer p {
    font-size: 1.3rem;
}

.footer a {
    color: #FFDD19;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 420px) {
    .footer p {
        font-size: 1.25rem;
        margin-left: 5px;
        margin-right: 5px;
    }
       
}


