.App {
    max-width: auto;
    position: relative;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-areas: "header" "main-content" "footer";
    grid-template-columns: auto;
    grid-template-rows: 9rem auto 7rem;

}

.header {
    grid-area: header;
    height: 9rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}

main {
    grid-area: main-content;
    
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A0230;
    height: 5rem;
    margin: none;
    color: #fdfdfb;
    height: 100%;
    margin-top: 2%;
}

.footer p {
    font-size: 1.3rem;
}

.footer a {
    color: #55F25F;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}



